<div class="row">
    <div class="span12"><h1>Welcome To 6-SPEED.COM</h1>
<div class="hero-unit">
  <h3>Buy & Sell Used Auto Parts</h3>
  <p>Sell Your Custom Whip!</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>

</p>

</div>
</div>
